:root{
    --cor-principal:#6b3e1e;
    --cor-secundaria: #f5dfc3;
    --cor-fundo: #fffaf2;
    --cor-texto: #2f2118;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 60px;
    background-color: var(--cor-secundaria);

    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(80, 45, 20, 0.20);
    z-index: 1000;
}


.logo{
    display: flex;
    align-items: center;
    gap: 10px;

    background-image: url("imagens/pokebola.png");
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: left center;

    padding-left: 50px;

}

.logo h1{
    margin: 0;
    color: var(--cor-principal);
}

nav{
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav a{
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    transition: 0.3s;
}

/* =========================
   SEÇÃO EVOLUÇÕES
========================= */

.evolucoes {
    padding: 50px 7%;
    background-color: #fffaf4;
}

.evolucoes h2 {
    text-align: center;
    font-size: 32px;
    color: #5b3318;
    margin-bottom: 35px;
}

/* GRID DOS CARDS */

.cards.evolucoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    gap: 14px;
    max-width: 1100px;
    margin: 0 auto;
}

/* =========================
   CARD
========================= */
.card {

    display: flex;
    align-items: center;
    min-height: 165px;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
    align-items: center;
    min-height: 165px;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
}



/* Efeito quando passar o mouse */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* =========================
   IMAGEM DO POKÉMON
========================= */
.card img {
    width: 145px;

    height: 140px;

    object-fit: contain;

    flex-shrink: 0;
}

/* =========================
   INFORMAÇÕES
========================= */

.card-info {
    padding-left: 5px;
}

.card-info h3 {
    margin: 0 0 8px;

    font-size: 22px;

    color: #24160e;
}

.card-info span {
    display: inline-block;

    padding: 4px 12px;

    border-radius: 20px;

    font-size: 13px;

    margin-bottom: 10px;
}

.card-info p {
    font-size: 13px;

    line-height: 1.4;

    margin: 0 0 8px;

    color: #39291f;
}

.card-info a {
    color: #704019;

    font-size: 25px;

    text-decoration: none;

    font-weight: bold;
}


/* =========================
   CORES DOS CARDS
========================= */

.eevee {
    background-color: #ecd0ad;
}

.eevee span {
    background-color: #dfc5a5;
}


.vaporeon {
    background-color: #b9d9ef;
}

.vaporeon span {
    background-color: #69a9df;
}


.jolteon {
    background-color: #f9df91;
}

.jolteon span {
    background-color: #f5c928;
}


.flareon {
    background-color: #f5c49d;
}

.flareon span {
    background-color: #ed9b62;
}


.espeon {
    background-color: #d9b9df;
}

.espeon span {
    background-color: #bd8cc5;
}


.umbreon {
    background-color: #aeb0b1;
}

.umbreon span {
    background-color: #8c8e8f;
}


.leafeon {
    background-color: #c8dfb9;
}

.leafeon span {
    background-color: #91c477;
}


.glaceon {
    background-color: #b9dce9;
}

.glaceon span {
    background-color: #83c5d8;
}


.sylveon {
    background-color: #f5c3d3;
}

.sylveon span {
    background-color: #ec8fb0;
}



    
nav a:hover{
    border-bottom: 3px solid var(--cor-principal) ;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url("imagens/fundo.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 500px;
    padding: 40px 80px;
    box-sizing: border-box;
}

.inicio_texto h2{
    font-size: 85px;
    color: #6b3e18;
    margin: 0;
}

.inicio_texto h3{
    font-size: 30px;
    color:#6b3e18;
    margin:0 0 20px 0;
}

.inicio_texto p{
    font-size: 20px;
    line-height: 1.6;
    color: #3f2a1d;
    max-width: 500px;
}
.inicio_texto{
    width: 50%;
}
.inicio_texto a{
    display: inline-block;
    background-color: #6b3e18;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.inicio_texto a:hover{
    background-color: #8a5428;
    transform: translateY(-3px);
}

.inicio_eevee{
    background-image: url("imagens/eevee1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 60%;
    height: 520px;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: url("imagens/fundo_atualizado.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 500px;
    padding: 60px 80px;
    box-sizing: border-box;

}

.sobre_texto h3{
    font-size: 50px;
    color: #6b3e18;
    margin: 0 0 20px 0;
}
.sobre_texto p{
    font-size: 20px;
    line-height: 1.6;
    color: #3f2a1d;
    max-width: 500px;
    margin-bottom: 25px;
}
.sobre_texto{
    width: 45%;
}
.sobre_texto a{
    display: inline-block;
    background-color: #6b3e18;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.sobre_texto a:hover{
    background-color: #8a5428;
    transform: translateY(-3px);
}
.sobre_eevee{
    background-image: url("imagens/eevee_fundo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 50%;
    height: 450px;
}
